<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>


    <img id="bg" src="{{ url_for('video_detection') }}">
    <br><br>
    
    <!--<p>Blink </p>
    <br><br>
    <p>ear </p>
    <br><br>
    <p>predictor</p>-->

  EAR :: <p id="ear">waiting EAR...</p>
  <script>
    var ear = document.getElementById("ear");

    setInterval(() => {
        fetch("{{ url_for('get_ear') }}")
        .then(response => {
                response.text().then(t => {ear.innerHTML = t})
            });
        }, 5000);  
  </script>

    
    
  </body>
</html>