
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
 body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    body {background-color: #F5CC71;}

.center {
 text-align: center
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #9f4440;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #F7BCB5}

.button:active {
  background-color: #F7BCB5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>
<body>
  <!-- <img src="pic/worker.png" > -->
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">แก้ไขประวัติส่วนตัว</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">เรียกดูแผนภาพ</a>
      
      <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </div>
  </div>
<br>
<br>
<br>
<br>

<div class="bg-image"></div>
<center><img src="{{url_for('static', filename='workplace.png')}}"  width="200" height="200"/></center>
<br>
<center><button class="button">เริ่มใช้งาน</button></center>


</body>
</html>