{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %} Login {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َ Login Form</title>
  </head>
  <style>

.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

</style>
  <body>

<form class="box" form action="/login" method="POST" >
  <h1>Login</h1>
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.username) }}
  {{ wtf.form_field(form.password) }}
  <input type="submit" name="" value="Login">
</form>


  </body>
</html>
<!-- 
<div class="container">
 <div class="row">
 <div class="col-md-6 col-md-offset-3">
 <form action="/login" method="POST">

 <div class="form-group">
 <label>Email:</label>
 <input type="email" class="form-control" name="email">
 </div>

 <div class="form-group">
 <label>Password:</label>
 <input type="password" class="form-control" name="password">
 </div>

 <div class="form-group">
 <button class="btn btn-primary">Login</button>
 </div>

 </form>

 </div>

 </div>

</div> -->

{% endblock %}

