<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
    <script>
      function showNotification() {
        const notification = new Notification("New message incoming", {
            body: "Hi there. How are you doing?"
        })
      }
      console.log(Notification.permission);

      if (Notification.permission === "granted"){
        showNotification();
      }else if(Notification.permission !== "denied"){
        Notification.requestPermission().then(permission => {
          console.log(permission);
        });
      }
    </script>
  </body>
</html>