<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    body {background-color: #F5CC71;}
    footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
    </style>

 <body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
    <a href="/register" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Register</a>
     <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Logout</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>
 <a class="navbar-brand" href="#">CVS notification</a>
 </div>
<!-- Navbar ock attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-blackn small screens (remove the oncli w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    
    <a href="/login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Login</a>
    <a href="/register" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Register</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Logout</a>
  </div>

 <!-- <div id="navbar" class="collapse navbar-collapse">
 <ul class="nav navbar-nav">
 <li>
 <a href="/">Home</a>
 </li>
{% if session['name'] %}
 <li>
 <a href="/logout">Logout</a>
 </li>
 {% else %}
 <li>
 <a href="/login">Login</a>
 </li>
 <li>
 <a href="/register">Register</a>
 </li>
 {% endif %}
 </ul>
 </div>
 </div>
 </nav> -->
<!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" style="margin-top:90px" >
   
<!-- End Page Content -->
</div>
<h1> Hello {{name}}</h1>
<!-- Footer -->

{% block content %} {% endblock %}
<!-- <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge"style="margin-top:50px">
    <p class="w3-medium"> Rajamangala University of Technology Krungthep</p>
  </footer> -->
<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 4000);    
    }
    
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    
    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    
 </body>

</html>