<html>
    <head>
        <title>Video Streaming Demonstration</title>
    </head>
    <body>
        <h1>Video Streaming Demonstration</h1>


        <img id="bg" src="{{ url_for('video_feed') }}">
        <br><br>


        EAR :: <h1 id="get_ear">waiting EAR...</h1><hr>

        Total :: <h1 id = "get_total"> waiting total....</h1><hr>

        Pred :: <h1 id = "get_pred">waiting pred .......</h1><hr>

        Frame :: <h1 id = "get_frame">waiting frame .....</h1><hr>

        Timer :: <h1 id = "timing">Timing ......</h1><hr>
    
    <form class = "stop" form action="/stop" method="POST">
        <input type="submit" name = "" value="stop">
    </form>

    <script>
    var ear = setInterval(ear, 5000);

    var total = setInterval(total, 5000);

    var pred  = setInterval(pred, 5000);

    var frame  = setInterval(frame, 5000);

    var timing = setInterval(timer,1000)


    /*setInterval(() => {
        fetch("{{ url_for('get_ear') }}")
        .then(response => {
                response.text().then(t => {ear.innerHTML = t})
            });
        }, 5000);*/

    function ear(){
        fetch("{{ url_for('get_ear') }}")
        .then(response => {
            response.text().then(t => document.getElementById("get_ear").innerHTML = t)
        });
    }

    function total(){
        fetch("{{ url_for('get_total') }}")
        .then(response => {
            response.text().then(r => document.getElementById("get_total").innerHTML = r)
        });
    }

    function pred(){
        fetch("{{ url_for('get_pred') }}")
        .then(response => {
            response.text().then(s => document.getElementById("get_pred").innerHTML = s)
        });
    }

    function frame(){
        fetch("{{ url_for('get_frame') }}")
        .then(response => {
            response.text().then(u => document.getElementById("get_frame").innerHTML = u)
        });
    }

    function timer(){
        var d = new Date();
        var t = d.toLocaleTimeString();
        document.getElementById("timing").innerHTML = t;
    }

  </script>
    <body>
</html>
